* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
/* css resets - give a developer more control over the design by removing default styles */

header {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  color: white;
  padding: 30px;
}

header img {
  height: 30px;
}
header a {
  margin-left: 20px;
}
body {
  background-color: hsla(176, 50%, 47%, 0.1);
}
section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1.5px solid hsla(176, 50%, 47%, 0.3);
}
main {
  width: 70%;
  margin: 0 auto;
  margin-top: -80px;
}

.intro > img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  margin-top: -55px;
}
.intro {
  text-align: center;
}
.intro h1 {
  font-size: 32px;
  margin: 20px 0;
}

.intro-action-buttons{
  display: flex;
  justify-content: space-between;
}
.action-btn{
  background-color: hsl(176, 72%, 28%);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
  text-align: center;
  border: none;
}

.intro-action-buttons  button:last-child{
  background-color: lightgray;
  
  border-radius: 20px;
  border: none;
  color: gray;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 20px;

}

.intro-action-buttons img{
  height: 40px;
}
/* number section*/
.numbers-list{
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.numbers-list li{
  padding: 20px 40px;
} 
.numbers-list strong{
  font-size: 30px;
}
progress{
  width: 100%;
  appearance: none;
  margin-top: 20px;
}

/*webkit(Chrome, Safari)*/
progress::-webkit-progress-bar{
  background-color: #eee;/*background*/
  border-radius: 10px;
}

progress::-webkit-progress-value{
  background-color: hsl(176, 72%, 28%);
  border-radius: 10px;
}

/*Firefox*/
progress::-moz-progress-bar{
  background-color: hsl(176, 72%, 28%);/*Filled bar*/
}


